#id-criar-avaliacao-equipe {
  margin-left: 40px;
  margin-right: 46px;
  margin-top: 40px;
}

.div-movimentar-nota-maxima {
  background-color: #ffc107;
  width: 100px;
  height: 48px;
  border-radius: 0 .25rem 0 0;
  text-align: center;
  vertical-align: text-bottom;
}

.tamanho-personalizado {
  width: 600px !important;
  height: 150px !important;
}


#lean-anvas-modal {
  width: 980px !important;
}