div .div-painel-equipe {
  width: 470px;
}

div #id-tabela-membros {
  height: 300px;
  overflow-y: scroll;
}

.div-input-dado-equipe {
  margin-bottom: 20px;
}

#div-input-dado-equipe-nome,
#div-input-dado-equipe-token {
  margin-right: 20px;
}

.input-dado-equipe {
  width: 370px;
}

.input-dado-equipe-metade {
  width: 185px;
}

.class-btn-dado-equipe {
  height: 48px;
}

#id-div-tabela-membros .mensagem {
  width: 100%;
}