.cor-background-feedbacks {
  background-color: rgb(200, 200, 200)
}

.tab-customizada {
  padding: 0;
}

.espacamento-botoes {
  width: 175px;
}

.cor-background-card {
  background-color: rgb(255, 255, 255)
}