.icone-download-e-link-material:hover {
  color: var(--color-button-hover);
  transition: 0.5s;
  opacity: 0.7;
}

.color-icone {
  color: var(--color-button-hover);
}


.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #fc7a00 !important;
}