div .aside-filtragem-tela-inicial {
  background-color: var(--color-background-aside);
  height: 100%;
  width: 18rem;
  padding: 15px;
  display: block;
  float: left;
}

div #titulo-competicoes {
  margin-top: 12px;
  margin-bottom: 12px;
}

div .form-filtragem {
  margin-top: 10px;
  
}

div .margem-personalizada {
  margin: 7px auto auto 8px;
}

div #radio-buttons-competicoes {
  margin-top: 25px;
  margin-bottom: 25px;
}

.link-aside {
  text-decoration: none;
  color: var(--color-titles);
}