
div .dropdown-menu {
  margin-left: -45px;
  margin-top: 5px !important;
}

div #dropdown-div {
  margin-right: 20px;
}

h6.nome-usuario {
  font-size: 16pt;
  margin: 0;
}

div #navbarDropdownMenu::after {
  display: none;
}

i.fa-address-card {
font-size: 50px;
}

i.fa-address-card:hover {
  color: var(--color-button-hover);
}

i.icone-cabecalho {
  color: var(--color-button-hover);
  font-size: 35pt;
}

ul#lista-icones-centrais li {
  width: 80px;
  height: 96px;
}

ul#lista-icones-centrais li a {
  text-decoration: none;
}
