div .card-header {
  height: 70px;
}

div .datas-etapa-bottom {
margin-top: 6%;
}

div .etapa-atual {
  margin-bottom: 4%;
}

i {
  padding-left: 7px;
}

i.hover-azul:hover {
  color: var(--color-imersao);
}