div .card-header {
  height: 70px;
}

div .datas-etapa-bottom {
margin-top: 6%;
}

i.hover-azul {
  padding-left: 7px;
  color: rgb(44, 44, 44);
}

i.hover-azul:hover {
  color: var(--color-imersao);
}