ul.lista-convites {
  list-style: none;
  max-height: 450px;
  overflow-y: scroll;
}

li.item-list-convite {
  background-color: white;
}

div .convite {
  width: 1050px;
  height: 90px;
  padding: 20px;
  display: flex;
  border-radius: 3px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-secondary-titles);
}

div .nome-competicao-convite-h4 {
  margin: 0;
}

div .botoes-aceitar-recusar-convite {
  display: flex;
  justify-content: space-between;
}

div .btn-aceitar-convite,
div .btn-recusar-convite {
  width: 80px;
  height: 50px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

div .btn-aceitar-convite {
  background-color: var(--color-verde-forte);
  margin-right: 20px;
}

div .btn-recusar-convite {
  background-color: red;
}

i.icone-convite {
  color: white;
  font-weight: bolder;
  font-size: 20pt;
}

h5#saudacao-parte-1 {
  line-height: 30px;
}

.link-competicao {
  color: black;
  text-decoration: none;
}