div #accordion-id .MuiAccordionSummary-expandIconWrapper svg.css-i4bv87-MuiSvgIcon-root {
  color: white;
  width: 40px;
  height: 40px;
  transition: 0.5s all;
}

div #accordion-id .MuiAccordionSummary-expandIconWrapper svg.MuiSvgIcon-root:hover {
  color: #fc7a00;
}

#botoes-competicao {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 30px auto;
}

div .icone-ok {
  margin-right: 5px;
}

div .icone-ok i {
  padding: 0;
}