div .aside-feedbacks-lean-canvas {
  background-color: var(--color-background-aside);
  width: 22rem;
  padding: 15px;
  display: block;
  float: left;
  max-height: 753px;
  overflow: auto;
}

div #listagens-feedbacks-filtragem {
  margin-top: 12px;
  margin-bottom: 12px;
}

div .feedbacks {
  margin-top: 10px;
}

div .margem-personalizada {
  margin: 7px auto auto 8px;
}

div #radio-buttons-competicoes {
  margin-top: 25px;
  margin-bottom: 25px;
}

.link-aside {
  text-decoration: none;
  color: var(--color-titles);
}

.largura-total {
  width: 93%;
}