div .erro {
  border: 2px solid var(--color-aquecimento);
  background-color: var(--color-vermelho-leve);
  color: var(--color-background);
}

div .sucesso {
  border: 2px solid var(--color-inscricoes);
  background-color: var(--color-verde-leve);
  color: var(--color-verde-forte);
}

div .loading {
  border: 2px solid var(--color-cinza-escuro);
  background-color: var(--color-cinza);
  color: var(--color-background);
}

div .mensagem {
  width: 70%;
  border-radius: 5px;
}

div #titulo {
  margin-top: 10px;
}

p#mensagem-texto {
  text-align: center;
}

div ._index__spinnerText {
  display: none;
}

div ._index__viewBox {
  width: 25%;
  height: 25%;
  margin: auto;
}

div #componente-mensagem .MuiCircularProgress-root {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
}