:root {
  --color-background: whitesmoke;
  --color-background-auth: #ffd966;
  --color-vermelho-leve: #ff8282;
  --color-button-text: #fff;
  --color-background-button: #ffc107;
  --color-button-hover: #fc7a00;
  --color-titles: #000;
  --color-secundary-titles: rgb(20, 19, 19);
  --color-inscricoes: #70ad47;
  --color-aquecimento: rgb(255, 43, 43);
  --color-imersao: #2b78e4;
  --color-pitch: #ffc107;
  --color-encerrado: #999;
  --color-background-aside: rgb(223, 222, 222);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh; /*Para que a aplicação ocupe toda a altura da tela*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: var(--color-background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.elementos-centralizados {
  display: flex;
  justify-content: center;
  align-items: center;
}

.elementos-alinhados-esquerda {
  display: flex;
  justify-content: left;
  align-items: center;
}

.tamanho-maximo {
  width: 100%;
  height: 100%;
}

.titulos-principais {
  font-size: 24pt;
}

.botao-personalizado {
  color: var(--color-button-text);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16pt;
  transition: 0.5s all;
  padding: 5px;
}

.botao-menor-personalizado {
  color: var(--color-button-text);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13pt;
  transition: 0.5s all;
  padding: 5px;
}

.botao-personalizado:hover,
.botao-menor-personalizado:hover {
  background-color: var(--color-button-hover);
  color: white;
}

div .tamanho-card-personalizado {
  width: 255px;
  min-height: 240px;

  /* Verificar se não vai dar erro em CardMinhasCompeticoes */
  margin-top: 75px;
}

div .margem-personalizada-card {
  /* margin-top: 75px;
  margin-left: 50px; */
}

div .listagem-cards-competicoes ul {
  width: 100.8%;
  padding-left: 0;
  margin: 0;
}

div .listagem-cards-competicoes ul li {
  display: inline-block;
  width: 275px;
  margin-right: 50px;
  margin-left: 20px;
}
