div #card-membro {
  height: 13rem;
  margin-top: 0;
  top: 0;
}

div .card-lider {
  border: 1px solid var(--color-pitch);
}

div .card-normal {
  border: 1px solid var(--color-background-auth);
}

header.card-lider {
  background-color: var(--color-pitch);
}

header.card-normal {
  background-color: var(--color-background-auth);
}

header#cabecalho div {
  display: flex;
  justify-content: space-between;
}

header#cabecalho div div#icone-lixeira {
  margin-top: -4%;
}

.padding {
  padding: 7%;
  padding-left: 4%;
}

header#cabecalho i {
  cursor: pointer;
  transition: 0.5s all;
}

header#cabecalho i:hover {
  color: var(--color-aquecimento);
}

div #email {
  height: 70px;
}

p#email-content {
  margin-top: -15px;
  padding: 0;
}

